h1 {
    text-align: center;
    color: darkblue;
    font-family: "Georgia";
}

h3 {
    text-align: center;
    color: grey;
}

body {
    background-color: lightgrey;
    font-family: verdana;
}

form {
    text-align: center;
}