h1 {
    text-align: center;
    color: darkblue;
    font-family: "Georgia";
}

h3 {
    text-align: center;
    color: grey;
}

body {
    background-color: lightgrey;
    font-family: verdana;
}

form {
    text-align: center;
}

a:visited {
    color: red;
}

a:hover {
    font-weight: bold;
}

a:active {
    text-decoration: none;
}

caption {
    text-align: left;
    font-weight: bold;
    text-decoration: underline;
}